<section class="documents">
    <h1 class="main-title documents__title">Лицензии медицинского центра</h1>

    <div class="documents__block">
        <div class="swiper-container documents__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
            </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<section class="map">
    <h1 class="main-title map-title">Медицинские центры на карте</h1>

    <div class="map-block">
        <div class="map-img"></div>
        <div id="map"></div>
    </div>
</section>

<section class="choice">
    <h1 class="choice-title">Выберите интересующую вас медкнижку</h1>

    <div class="choice-group">
        <ul>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для повора</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для учителя</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для водителя</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для мясника</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для парикмахера в салон красоты</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для работника общепита</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для продавца</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для медработников</span>
                </label>
            </li>
        </ul>

        <ul>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для учителя</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для водителя</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для мясника</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для продовца</span>
                </label>
            </li>
            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для медработников</span>
                </label>
            </li>
            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для парикмахера в салон красоты</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для медицинских работников</span>
                </label>
            </li>
        </ul>
    </div>

    <a class="btn choice-btn" href="#">Оформить медкнижку</a>
</section>
