<div class="breadcrumbs">
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="#">Водительская комиссия</a>
        </li>
        <li>
            <a class="breadcrumb-current">Медсправка водительская для категорий А, А1, В, В1, М, ВЕ</a>
        </li>
    </ul>
</div>

<section class="documents">
    <h1 class="main-title special-title">Лицензии медицинского центра</h1>

    <div class="main-slider-block documents-block">
        <div class="swiper-container main-slider documents__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
                <div class="swiper-slide">
                    <p>
                        <img src="../img/document.jpg" width="254" height="358" alt="Лицензия медицинского центра">
                    </p>
                </div>
            </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<section class="new-form">
    <h1 class="main-title">Медсправка водительская по новой форме 003-в/у</h1>

    <p>Для получения водительского удостоверения на право управления транспортными средствами необходимо в ГИБДД предоставить «Медицинское заключение о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами» по новой форме 003- В/у.</p>

    <ul>
        <li>
            <a href="#">Справка для категорий А, А1, В, В1, М, ВЕ</a>
        </li>
        <li>
            <a href="#">Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb</a>
        </li>
        <li>
            <a href="#">Справка для международных водительских прав</a>
        </li>
        <li>
            <a href="#">Справка для погрузчиков и тракторов</a>
        </li>
        <li>
            <a href="#">ЭЭГ (электроэнцефалограмма головного мозга) в ГИБДД</a>
        </li>
        <li>
            <a href="#">Справка для профессиональных водителей для работы</a>
        </li>
    </ul>
</section>

<section class="certificates">
    <h1 class="main-title special-title">Медицинские справки для всех</h1>

    <div class="main-slider-block certificates-block">
        <div class="swiper-container main-slider certificates__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="certificates__item">
                        <div class="certificates__item-img">
                            <img src="img/certificates-1.jpg" width="316" height="485" alt="Человек за рулем">
                        </div>
                        <div class="certificates__item-description">
                            <h2>Медсправка водительская</h2>

                            <div class="price">
                                <span>2500 руб.</span>
                                <span>от 2000 руб.</span>
                            </div>

                            <p>Время получения от 30 мин.</p>

                            <a class="btn certificates__btn" href="#">Записаться на комиссию</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="certificates__item">
                        <div class="certificates__item-img">
                            <img src="img/certificates-2.jpg" width="316" height="485" alt="Охотник с оружием">
                        </div>
                        <div class="certificates__item-description">
                            <h2>Медсправка на оружие 002-о/у</h2>

                            <div class="price">
                                <span>3500 руб.</span>
                                <span>от 3000 руб.</span>
                            </div>

                            <p>Время получения от 30 мин.</p>

                            <a class="btn certificates__btn" href="#">Записаться на комиссию</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="certificates__item">
                        <div class="certificates__item-img">
                            <img src="img/certificates-3.jpg" width="316" height="485" alt="Человек на складе">
                        </div>
                        <div class="certificates__item-description">
                            <h2>Справка на работу 086/у</h2>

                            <div class="price">
                                <span>1200 руб.</span>
                                <span>от 1000 руб.</span>
                            </div>

                            <p>Время получения от 30 мин.</p>

                            <a class="btn certificates__btn" href="#">Записаться на комиссию</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="certificates__item">
                        <div class="certificates__item-img">
                            <img src="img/certificates-4.jpg" width="316" height="485" alt="Человек с портфелем">
                        </div>
                        <div class="certificates__item-description">
                            <h2>Справка на госслужбу 001 гс/у</h2>

                            <div class="price">
                                <span>800 руб.</span>
                                <span>от 500 руб.</span>
                            </div>

                            <p>Время получения от 30 мин.</p>

                            <a class="btn certificates__btn" href="#">Записаться на комиссию</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<section class="map">
    <h1 class="main-title map-title">Медицинские центры на карте</h1>

    <div class="map-block">
        <div class="map-img"></div>
        <div id="map"></div>
    </div>
</section>

<section class="choice">
    <h1 class="choice-title">Выберите интересующую вас медкнижку</h1>

    <div class="choice-group">
        <ul>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для повора</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для учителя</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для водителя</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для мясника</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для парикмахера в салон красоты</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для работника общепита</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для продавца</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для медработников</span>
                </label>
            </li>
        </ul>

        <ul>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для учителя</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для водителя</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для мясника</span>
                </label>
            </li>
            <li>
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для продовца</span>
                </label>
            </li>
            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для медработников</span>
                </label>
            </li>
            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для парикмахера в салон красоты</span>
                </label>
            </li>

            <li class="choice-hide">
                <label>
                    <input class="choice-checkbox" type="checkbox">
                    <span>для медицинских работников</span>
                </label>
            </li>
        </ul>
    </div>

    <a class="btn choice-btn" href="#">Оформить медкнижку</a>
</section>
